@tailwind base;
@tailwind components;
@tailwind utilities;


.golbalBtnStyle {
    border-radius: 34px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 10px;
    background: linear-gradient(180deg, #0E5E6F 45.71%, #75a4b8 99.36%);
}

.golbalBtnStyle:hover {
    background: #3A8891;
    color: #F2DEBA;
    cursor: pointer;
}